<!-- <mat-toolbar color="primary">
        <span>My Application</span>
        <button mat-button>Click me!</button>
    
      </mat-toolbar> -->

      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#"> Stader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="active nav-item">
              <a class="nav-link" [routerLink]= "['/cars']"> Home </a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="active nav-item">
              <a class="nav-link" [routerLink]= "['/login']"> Login </a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="active nav-item">
              <a class="nav-link" [routerLink]= "['/addcars']"> Add Cars </a>
            </li>
          </ul>

        </div>  
      </nav>